<div class ="container">
  <div class ="wrapper">
  <div class ="column">

  <img class="logo" src="https://res.cloudinary.com/dmj6tqnkw/image/upload/v1650982643/GoPlay/logo_k1fj50.png" alt="logo goplay"/>
  <div class ="icons">

    <fa-icon [icon]="faInstagram"></fa-icon>
    <fa-icon [icon]="faYoutube"></fa-icon>
  </div>

</div> 
<div class ="column">
  <span>App</span>
  <span>Veelgestelde vragen</span>
  <span>Algemene voorwaarden</span>


</div>
<div class ="column">

<span>Privacy</span>
  <span>Inschrijven</span>
  <span>Wedstrijdregelment</span>
</div>

<div class ="column">
<span>Cookiebeleid</span>
  <span>Adverteren</span>
  <span>Jobs</span>
</div>

<div class ="column">
<span>Contacteer ons</span>
  <span>Cookie instellingen</span>
</div>


 </div>
 <div class ="privacy">
  <fa-icon [icon]="faCopyright"></fa-icon>
  <span>2020. GoPlay. All rights reserved</span>
        </div>
    </div>