.container-carousel{
    max-width: 100%;
    height: auto;

}
// ngb-carousel img {
//     max-width: 100vw;
//     float: left;
//     width: 100%;
//     height:90vh;
//     object-fit: cover;

// }

// img{
//   width:100%;
//   height:80%;

// }

.wrapper{
  position: relative;
  height: 88vh;
  width: 99%;
  overflow: hidden;
}
ngb-carousel img {
  height: 100%;
  width:100%;
}