@import './../../helpers/colors';
@import './../../helpers/fonts';

.movie img{
  border-radius: 18px;
  height: 369px;
}



.overview-card,.title-card{
  color:$text-color;
  font-family: $font-primary;

}
.overview-card{
  font-size: 11px;
}

.title-card{
  font-weight: $semi-weight;
  font-size: 15px;
}

.gradient-bg{
  line-height: 18px;
  position: absolute;
  padding: 1rem;
  padding-top: 4rem;
  height: 182px;
  bottom: 0;
  background: #415a73;
  background: linear-gradient(180deg, rgba(65, 90, 115, 0) 0%, #415a70 35%, #415a73 100%);
}

.category{
  color:$accent-green;
  span{
    margin-right: 4px;
    font-size: 9px;
  }
}

#play-icon{
  z-index: 99;
  position: absolute;
  bottom: 50%;
  text-align: center;
  font-size: 4rem;
  right: 40%;
  color:$text-color;
opacity: .7;
}

#top-buttons{
  z-index: 20;
  display: flex;
  position: relative;
  top: -345px;
  left: 19px;

}

.star{
  margin-right: 0.4rem;
  color: $accent-red;
}
#tag{
  margin-right: 105px;
  background-color: #1E2B38;
  border-radius: 18px;
  width: 76px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
span{
  color:$text-color
}

}



