
@import './../helpers/colors';
@import './../helpers/fonts';



#head-title{
  z-index: 10;
}

.title{
 font-family: $font-small;
}


.content{
  overflow: hidden;
  color: $text-color;
  display: flex;
   justify-content: center;
}
.text-content{
  position: absolute;
  left: 0;
  bottom: 1.4rem;
  margin-left: 2rem;

}
.time{
  font-family: $font-small;
  font-size: 12px;
  margin-left: 16px;}

  .player{
    padding-top: .2rem;
    display: flex;
    align-items: center;
  }
  .player .loading-bar{
  height: 4px;
  border-radius: 2px;
  width: 270px;
  background-color: $accent-green;
}


#play-icon{
  position: absolute;
  left: 152px;
  right: 0;
  bottom: 24px !important;  font-size: 2.2rem;
  opacity: .8;
}