@import './../../helpers/colors';
@import './../../helpers/fonts';

.container{
  background-color: $bg-color;
  padding:0;

}



 #top-detail{
  margin-left: 2rem;
 }
#detail-image{
  max-width: 100%;
  height: auto;
img{
  width: 1550px;
  height: 690px;
}
}
.main_content{
  position: absolute;
  z-index: 10;
  top:25%;
  margin:0em 4em;
}
#backButton{
  top: 38px;
    position: absolute;
cursor: pointer;
  display: flex;
  background: none;
  border: none;
  align-items: center;
font-weight: $medium-weight;
color:$text-color;
font-family: $font-primary;
width: 10%;
justify-content: space-around;
}

.title-movie{
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;

  h1{
    margin: 0px
  }
}
#button-group{
  display: flex;
  margin-top:4rem;
 
}
.button_box{
  margin-right: .5rem;
}
#year{
  margin-left: 22px  ;  font-size: 20px;
  margin-top: 19px;}

.stars {
  color: $accent-red;
    z-index: 2;
    position: absolute;
    top: 150px;    font-size: 2rem;
    .star{
      margin-right: .5rem;
    }
}



.genres{
  display: flex;
  align-items: center;
  font-size: 15px;
 color: $text-color;
 font-family:$font-primary;
 margin-top: 2rem;
 margin-bottom: .5rem;
}

.vertical_line{
  height: 15px;
  width: 2px;
  background-color: $line-color;
  border-radius: 99px;
  margin: 0 15px;
}


#play-icon{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:$text-color;
  font-size: 5rem;
  opacity: .7;
}


.summary{
  width: 90%;
  margin-right: 8rem;
  left: 0;
  h3{
    font-size: 30px;
    color: $text-color;
    font-family: $font-h1;
    margin-bottom: 1.2rem;
  }
span{
  font-size: 16px;
  color: $text-color;
  font-weight: $light-weight;
  font-family: $font-primary;
}
}

.information{
  display: flex;
  align-items: flex-end;}


.generic-info{
  width: 40%;
  right: 0;
}

.column{
  display: flex;
    flex-direction: column;
    width: 100%;
}
.generic-info {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.title-tab{
  margin-right: 2rem;
  color:$detail-color !important;
  margin-bottom: 0.3rem;
  width: 322px;
}
.title-job{
  margin-right: 2rem;
  color:$detail-color !important;
  margin-bottom: 0.3rem;  width: 122px;

}
.info-tab{
  color:$accent-green !important;
  margin-bottom: 0.3rem;
  width: 322px;
}

.cast{
  padding-bottom: 2rem;
  h3{
  margin-bottom: 1rem;
  }
  margin:3rem 0rem
}


.content-info{
  padding-top: 3rem;
  margin: 0rem 4rem;
  z-index: 4;
  position: relative;
}


.img-gradient::before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; 
  height: 130%;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%,  
  rgba(10,13,18,0.43) 28%, rgba(16,22,29,0.1) 29%, rgba(30,43,56,1) 75%, rgba(26,37,48,1) 85%, rgba(30,43,56,1) 100%);
 }
 .icon-bottom{
  margin-top: 207px;   color:$accent-green;
   font-size: 2rem;
 }

 .cast-cadre{
   display: flex;
   align-items: center;
 }

 .second-cast{
  margin: 4rem 0rem;
  h3{padding-bottom: 1rem;}
 }


 #dropdown{
   background-color: transparent;
   border: 2px solid $accent-dark-green;
   border-radius: 4px; 
  color:$text-color;
  padding: .5rem;
  outline:0px;
  font-weight: $semi-weight;

  }

  select option {
    background-color: #010B15;
    font-weight: $semi-weight;
    color: $text-color;
    border-radius: 0px !important;
}


#title_episodes{
  margin-right: 4rem;
  color: $text-color;
  font-family: $font-h2;
}

.content_seasons{
  display: flex;


}

.container_seasons{
  margin-top: 2rem;
 .all-item{
   margin-top:3rem
 }
  .episode-item{
    margin: 2rem 0rem;
    height: 125px;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    transform-origin: top left;
    transform: scale(1);
    transition: .4s ease-in-out 0s;
    box-shadow: 4px 9px 10px 2px rgba(0,0,0,0.19);  }

.episode-item:hover{
  transform: scale(1.1);

}
  h4{
    color:black;
    margin-bottom: 1rem;
    font-weight: $semi-weight;
  }

  .episode-text{
    position: relative;
    z-index: 3;
    font-size: 12px;
    bottom: 121px;
    width: 701px;
    margin-left: 24rem;
  }
  

  .image{
    img{
      width: 325px !important;
      height: 125px  !important;
      border-radius: 10px 0px 0px 10px;
    }
  }

  .loading{
    display: flex;
    position: relative;
    top: -11px  }
  .loading-bar{
    z-index: 3;
    height: 4px;
    border-radius: 2px;
    width: 121px;
    background-color: $accent-green;
  }
  .loading-bar-grey{
    height: 4px;
    border-radius: 2px;
    width: 205px;
    background-color: white
  }
  
}

.movies-similar{
  margin-top: 7rem;
}


.title-top{
  display: flex;
    justify-content: space-between;
}