<div class="container">
  <div class="img-gradient"></div>

  <div id="detail-image">
    
    <div id="play-icon">
      <ion-icon name="play" id="play-change" ></ion-icon>
    </div>
    <img class="main-image" src="https://image.tmdb.org/t/p/original/{{movie.backdrop_path}}">

    <div id="top-detail"  (click)="goBack()" >
    <button type="button"id="backButton">
      <i-feather name="corner-down-left" id="icon-back">

      </i-feather> 
      <span>Back to home</span></button>
  </div>
<div class="main_content">

  <div class="genres">
    <span>sci-fi</span>
    <div class="vertical_line"></div>
    <span>romance</span>
    <div class="vertical_line"></div>
    <span>action</span>
  </div>

    <h3 id="season">Season {{movie.number_of_seasons}}</h3>
    <div class="title-movie">
      <h1>{{movie.original_name}}</h1><h3 id="year">{{movie.release_date}}</h3>
    </div>

    <div id="button-group">
      <div class="button_box"><app-playButton [label]="label"></app-playButton> </div>
      <div class="button_box"><app-addButton></app-addButton></div>
    </div>
    <div class="icon-bottom">
    <ion-icon name="help-circle-outline"></ion-icon>
    <ion-icon name="share-social-outline"></ion-icon>
  </div>
  <div class="stars">
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star-half-outline" class="star"></ion-icon>
    <ion-icon name="star-outline" class="star"></ion-icon>
  </div>
  
</div>
  <div class="content-info">
  <div class="information">
      <div class="summary">
        <h3>Summary</h3>
        <span>{{movie.overview}}</span>
      </div>
      <div class="generic-info">
        <div class="column">
          <span class="title-job">Director</span>
          <span  class="title-job">Audio</span>
          <span  class="title-job">Country</span>
          <span  class="title-job">Sub-titles</span>
        </div>
        <div class="column">
          <span class="info-tab">Mike Burner</span>

          <span class="info-tab">English, French, Spanish</span>
          <span class="info-tab">USA</span>
          <span class="info-tab">English, French, Spanish</span>
    
        </div>

    </div>
  </div>

<div class="cast-cadre">
    <div class="cast">
      <h3>Cast</h3>

      <div class="generic-info">
        <div class="column">
          <span class="title-tab">Geralt of Rivia</span>
          <span  class="title-tab">Yennefer of vengerberg</span>
          <span  class="title-tab">Ciri of Cintra</span>
        </div>
        <div class="column">
          <span  class="info-tab">Henry Cavill</span>
          <span  class="info-tab">Anya Chalotra</span>
          <span  class="info-tab">Freya Allan</span>
        </div>
    </div>
    </div>

    <div class="second-cast">
      <h3>Secondary cast</h3>

      <div class="generic-info">
        <div class="column">
          <span class="title-tab">Geralt of Rivia</span>
          <span  class="title-tab">Yennefer of vengerberg</span>
          <span  class="title-tab">Ciri of Cintra</span>
        </div>
        <div class="column">
          <span  class="info-tab">Henry Cavill</span>
          <span  class="info-tab">Anya Chalotra</span>
          <span  class="info-tab">Freya Allan</span>
        </div>
    </div>
    </div>
  </div>
  <div class="container_seasons">

  <div class="content_seasons">
  <h2 id="title_episodes">Episodes</h2>

    <select  id="dropdown">
      <option value="Orange">Season 1</option>
      <option value="Radish">Season 2</option>
      <option value="Cherry">Season 3</option>
    </select>
  </div>
  <div class="all-item">
    <div class="episode-item">
      <div class="image">
        <img src="https://res.cloudinary.com/dmj6tqnkw/image/upload/v1653203836/GoPlay/witch-series_tgcsgr.png"/>
        <div class="loading">

          <div class="loading-bar">  </div>
          <div class="loading-bar-grey">  </div>
        </div>
       
      </div>
<div class="episode-text">
  <div class="title-top">  <h4>1. A GRAIN OF THRUTH</h4>
    <span>34  min</span>
  </div>
  <span>The Witcher's first season followed the lives of Geralt of Rivia (Henry Cavill),
    the Princess Ciri (Freya Allan), and the sorceress Yennefer of Vengerberg (Anya Chalotra), prior to the battle for Sodden Hill; jumping back and forth ...</span>
</div>
</div>
<div class="episode-item">
  <div class="image">
    <img src="https://res.cloudinary.com/dmj6tqnkw/image/upload/v1653203836/GoPlay/witch-series_tgcsgr.png"/>
    <div class="loading">

      <div class="loading-bar">  </div>
      <div class="loading-bar-grey">  </div>
    </div>
   
  </div>
<div class="episode-text">
  <div class="title-top">  <h4>1. A GRAIN OF THRUTH</h4>
    <span>34  min</span>
  </div><span>The Witcher's first season followed the lives of Geralt of Rivia (Henry Cavill),
the Princess Ciri (Freya Allan), and the sorceress Yennefer of Vengerberg (Anya Chalotra), prior to the battle for Sodden Hill; jumping back and forth ...</span>
</div>
</div>

<div class="episode-item">
  <div class="image">
    <img src="https://res.cloudinary.com/dmj6tqnkw/image/upload/v1653203836/GoPlay/witch-series_tgcsgr.png"/>
    <div class="loading">

      <div class="loading-bar">  </div>
      <div class="loading-bar-grey">  </div>
    </div>
   
  </div>
<div class="episode-text">
  <div class="title-top">  <h4>1. A GRAIN OF THRUTH</h4>
    <span>34  min</span>
  </div><span>The Witcher's first season followed the lives of Geralt of Rivia (Henry Cavill),
the Princess Ciri (Freya Allan), and the sorceress Yennefer of Vengerberg (Anya Chalotra), prior to the battle for Sodden Hill; jumping back and forth ...</span>
</div>
</div>

<div class="episode-item">
  <div class="image">
    <img src="https://res.cloudinary.com/dmj6tqnkw/image/upload/v1653203836/GoPlay/witch-series_tgcsgr.png"/>
    <div class="loading">

      <div class="loading-bar">  </div>
      <div class="loading-bar-grey">  </div>
    </div>
   
  </div>
<div class="episode-text">
  <div class="title-top">  <h4>1. A GRAIN OF THRUTH</h4>
    <span>34  min</span>
  </div><span>The Witcher's first season followed the lives of Geralt of Rivia (Henry Cavill),
the Princess Ciri (Freya Allan), and the sorceress Yennefer of Vengerberg (Anya Chalotra), prior to the battle for Sodden Hill; jumping back and forth ...</span>
</div>
</div>
</div>
  </div>

  <div class="movies-similar">    <app-movie-card-list [title]="title" [movies]="similarMovie"></app-movie-card-list>
  </div>
<app-footer></app-footer>
</div>
</div>


</div>