@import './../../helpers/_colors.scss';
@import './../../helpers/_fonts.scss';

#main-button{
  background-color: $accent-dark-green !important;
  border-radius: 8px;
  background: none;
  outline: none;
  border:none;
  color: $text-color;
  padding: .5em 1em;

  span{
    color:#FFFFFF;
    font-family: $font-primary;
  }
}