
  <div class="container">
    <label for="author">author</label> <br>
    <input [(ngModel)]="author" type="text" id="author" > <br>
    <label for="topic">topic</label> <br>
    <input [(ngModel)]="topic"  id="topic" name="topic" > <br>

    <label for="topic">content</label> <br>

    <textarea   [(ngModel)]="content"
    rows="5" cols="33">
    </textarea><br>
    <input type="submit" (click)="onSave()"><br>
    <div *ngFor="let post of posts">{{ post.author }} - {{ post.topic }}  - {{ post.content }}  </div>
</div>

