.title{  
  height: 40px;
  margin-left: 16px;
display: flex;
align-items: center;
transition: 0.3s;
color: #DFE9E9 !important;
&:hover::before{
  opacity: 0.7;
}

&:hover::after{
    content:"view all";
    font-family:poppins;
    font-size: 15px;
    animation: pulse 0.3s ease-in-out;

    ;
  }

  #icon{
    padding-top: 2px;
    transition:transform 0.3s ease-out;
  }
  &:hover #icon{
    transform: translate(100px, 0);

  }

}


// animation: pulse 1s linear infinite alternate;

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.logo_img{
  width: 125px;
  margin-left: 1rem;
}

.record{
  width: 1.1em;
margin-right: 1rem;
}

.record[src=""] {
  display:none;
}


.logo_img[src=""] {
  display:none;
}