@import './app/helpers/colors';
@import './app/helpers/fonts';

html,
body {
  padding: 0;
  margin: 0;
}
*,
body,
h1,
h2,
h3 ,.container{
  padding: 0;
  margin: 0;
}


body {
  font-family: $font-primary;
}

p {
  font-weight: $light-weight;
}

h1 {
  font-family: $font-h1;
  color: white;
  font-weight: $regular-weight;
  font-size: 45px;
}

h2 {
  font-family: $font-h2;
  color: white;
  font-weight: $light-weight;
  font-size: 30px;

}
h3 {
  font-family: $font-h3;
  color: white;
  font-weight: $light-weight;
  font-size: 25px;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-primary {
  background-color: $bg-color;
}



.owl-theme .owl-nav .disabled{ opacity: 0 !important; cursor: default;  }
.owl-prev, .owl-next {opacity: 0 !important;}

.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
   display: none !important;
}

.owl-carousel:hover{
  .owl-next {
    opacity: 1 !important;
    right: 0;
    padding-left: 10rem !important;
    background: linear-gradient(270deg, black 5%, rgba(100, 85, 45, 0) 100%) !important;
  }
  
  .owl-prev {
    left: 0;
    opacity: 1 !important;
    padding-right: 10rem !important;
    background: linear-gradient(90deg, black 5%, rgba(100, 85, 45, 0) 100%) !important;
  }
  .owl-prev,.owl-next {
    color: #FFF;
    padding: 143px 15px !important;
    top: -371px;
    margin: 0px;
    position: absolute;
    cursor: pointer;
    margin: 21px 0rem !important;
  
  }
  

}

.owl-item {
  margin: 1em;
max-width: 220px;   
}


.owl-theme .owl-nav {
  position: relative;
  margin:0 !important;

}


.owl-theme  .owl-nav {
  color: #FFF;

  img{
    width: 3em;

  }
}
