<div class="container">

  <app-header></app-header>
  <app-carousel></app-carousel>

<div class="img-gradient">
  <div class="content">
    <div class="page-one">

    <h3 id="season">Season 2</h3>
    <div class="title-movie">
      <h1>The Witcher</h1><h3 id="year">2018</h3>

    </div>

    <div id="button-group">
      <div class="button_box"><app-playButton  (onClick)="functioncall($event)" [label]="label"></app-playButton> </div>
      <div class="button_box"><app-addButton></app-addButton></div>
    </div>
   
    <div class="genres">
      <span>sci-fi</span>
      <div class="vertical_line"></div>
      <span>romance</span>
      <div class="vertical_line"></div>
      <span>action</span>
    </div>

  <div class="stars">
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star" class="star"></ion-icon>
    <ion-icon name="star-half-outline" class="star"></ion-icon>
    <ion-icon name="star-outline" class="star"></ion-icon>
  </div>

  <div id="thumbnail-trailer">
    <div id="deco-trailer">watch trailer</div>
    <div id="play-icon">
      <ion-icon name="play" ></ion-icon>
    </div>
    <img src="https://res.cloudinary.com/dmj6tqnkw/image/upload/v1651102114/GoPlay/thumbnail2_ikzm8t.jpg" alt="thumbnail video">
  </div>

  </div>

<div>
  <div>  <app-continue-cards [movies]="watchlistMovies" [title]="continueTitle"></app-continue-cards>
  </div>
  <div id="section2">
  <app-movie-card-list [movies]="popularMovies" [title]="popularTitle"></app-movie-card-list>
  <app-movie-card-list [movies]="upcomingMovies" [title]="upcomingTitle"></app-movie-card-list>
  <app-movie-card-list [movies]="liveMovies" [title]="liveTitle" [imgBefore]="imgBefore" [imgAfter]="imgAfter"></app-movie-card-list>
  <app-promotion-carousel [movies]="trendMovies"></app-promotion-carousel>
  <app-movie-card-list [movies]="ExclusivelyMovies"  [title]="exclusiveTitle" [imgBefore]="imgBefore"></app-movie-card-list>
  </div>
</div>

</div>
</div>
